<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Election 2015 Twitter Tracker</title>
    <meta name="title" content="General Election 2015 Twitter Tracker" />
    <meta name="keywords" content="general election 2015, May 2015, UK general election 2015, GE2015 Twitter Tracker" />
    <meta name="description" content="Altius have created a machine-learnt solution for the General Election 2015 using Twitter Tracker, highlighting the voting preferences of Great Britain&#39;s Twitter users." />


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    
    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5214c43b2fd30ead" async="async"></script>
    @*<div class="container body-content">*@
    @RenderBody()
    @*</div>*@
</body>
</html>
